# MySQL with Python's DB-API #1

In [5]:
import mysql.connector

# Establish the connection
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="test"
)

# Create a cursor object
cursor = connection.cursor()
print("Connection established successfully.")

Connection established successfully.

In [ ]:
# Insert data
sql_insert_query = "INSERT INTO users (name, email) VALUES (%s, %s)"
data = ("Alice", "alice@example.com")
cursor.execute(sql_insert_query, data)

# Commit the changes
connection.commit()
print("Data inserted successfully.")

Data inserted successfully.

In [9]:
# Retrieve data
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()

# Display the results
for row in rows:
    print(f"ID: {row[0]}, Name: {row[1]}, Email: {row[2]}")

ID: 1, Name: Ahmed Ali, Email: ahmed.ali@gmail.com
ID: 2, Name: Mhmed Hassan, Email: mohamed.hassan@example.com
ID: 3, Name: Updated, Email: updated.email@example.com
ID: 4, Name: Fatima Zayed, Email: fatima.zayed@example.com
ID: 5, Name: Aisha Ahmed, Email: aisha.ahmed@example.com
ID: 6, Name: Youssef Ibrahim, Email: youssef.ibrahim@example.com
ID: 7, Name: Layla Sami, Email: layla.sami@example.com
ID: 8, Name: Omar Adel, Email: omar.adel@example.com
ID: 9, Name: Mariam Hani, Email: mariam.hani@example.com
ID: 10, Name: Hussein Mustafa, Email: hussein.mustafa@example.com
ID: 12, Name: Updated, Email: moh@gmail.com
ID: 14, Name: Updated, Email: ali1@gmail.com
ID: 15, Name: Alice, Email: alice@example.com

In [11]:
# Update a record
sql_update_query = "UPDATE users SET email = %s WHERE name = %s"
data = ("alice_updated@example.com", "Alice")
cursor.execute(sql_update_query, data)

# Commit the changes
connection.commit()
print("Data updated successfully.")

Data updated successfully.

In [ ]:
# Delete a record
sql_delete_query = "DELETE FROM users WHERE name = %s"
data = ("Alice",)
cursor.execute(sql_delete_query, data)

# Commit the changes
connection.commit()
print("Data deleted successfully.")

In [ ]:
# Close the cursor and connection
cursor.close()
connection.close()
print("Connection closed.")

# Exception Handling

In [19]:
import mysql.connector

try:
    # Connect to the database
    connection = mysql.connector.connect(
        host="localhost",
        user="root",
        password="yourpassword",
        database="example_db"
    )
    cursor = connection.cursor()

except mysql.connector.Error as err:
    print(f"Error: {err}")
finally:
    # Close resources
    if cursor:
        cursor.close()
    if connection:
        connection.close()
    print("Connection closed.")

Error: 1045 (28000): Access denied for user 'root'@'localhost' (using password: YES)
Connection closed.

# MySQL with Python's DB-API (Data Analysis) #2

## 1. Connecting to the Database

In [57]:
import mysql.connector

# Establish the connection
connection = mysql.connector.connect(
    host="localhost",
    user="root",
    password="",
    database="projectstracker"
)

# Create a cursor object
cursor = connection.cursor()
print("Connection established successfully.")

Connection established successfully.

In [59]:
#Improts 
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

## 2. Loading Data
### Use Pandas to load data into DataFrames.

In [62]:

tables = pd.read_sql("""SELECT * FROM employees;""", connection)
tables

C:\Users\Baraa\AppData\Local\Temp\ipykernel_28896\2055326097.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  tables = pd.read_sql("""SELECT * FROM employees;""", connection)

,EmployeeID,FirstName,LastName,Email,Phone,HireDate,DepartmentID,ManagerID,JobTitle,Salary
0,1,Baraa,Abu Salllout,baraasallout@gmail.com,01123970285,2021-04-08,1.0,1,Technical Team Leader,5500.0
1,2,Sara,Khaled,sara.khaled@example.com,01098765432,2022-12-01,2.0,2,HR Specialist,11000.0
2,3,Mohamed,Nabil,mohamed.nabil@example.com,01222244455,2021-06-15,1.0,1,Software Engineer,5000.0
3,4,Laila,Hussein,laila.hussein@example.com,01145678901,2023-03-20,3.0,3,Marketing Specialist,5000.0
4,5,Omar,Yousef,omar.yousef@example.com,01011122334,2022-09-10,4.0,4,Sales Representative,5000.0
5,6,Noor,Hassan,noor.hassan@example.com,01033344455,2023-04-05,NaN,4,Junior Sales Representative,5000.0
6,7,Hani,Salem,hani.salem@example.com,01266677788,2021-11-20,1.0,1,System Analyst,5000.0
7,8,Dina,Samir,dina.samir@example.com,01199900011,2023-06-01,2.0,2,HR Assistant,5000.0
8,9,Alaa,Hamed,alaa.hamed@example.com,01088899900,2023-02-14,1.0,1,Junior Developer,5000.0
9,10,Farah,Yassin,farah.yassin@example.com,01233344455,2023-07-20,3.0,3,Content Creator,5000.0
10,11,Kareem,Ali,kareem.ali@example.com,01011112222,2024-01-15,1.0,1,DevOps Engineer,5000.0
11,12,Aya,Mohsen,aya.mohsen@example.com,01022223333,2024-02-20,1.0,1,Cloud Engineer,5000.0
12,13,Hassan,Omar,hassan.omar@example.com,01033334444,2024-03-10,1.0,1,AI Specialist,5000.0
13,23,Ali,Ahmed,ali.ahmed@example.com,01099988877,2024-01-10,1.0,1,None,5000.0
14,24,Hana,Saleh,hana.saleh@example.com,01055544433,2024-01-15,2.0,2,None,5000.0

## 3. Data Analysis

#### Question 1: What is the average salary by department?

#### Question 2: Which projects have a budget greater than 100,000?

#### Question 3: Which employees have worked more than 100 hours on projects?

#### Question 4: How many employees are there in each department?

#### Question 5: What is the number of projects per department?

#### Question 6: What are the roles and hours worked for each employee in a specific project?

### 4. Closing the Connection

In [51]:
connection.close()

In [ ]:
SQL Magic commands in Python allow you to execute SQL queries directly within Jupyter notebooks. These commands are part of the ipython-sql library, enabling seamless interaction between Python and databases.

Key Concepts
Line Magic (%):

Executes a single line of SQL.
Prefixed with %.
Example: %sql SELECT * FROM table_name
Cell Magic (%%):

Executes multi-line SQL queries.
Prefixed with %%.
The entire cell is treated as an SQL command.

# SQL Magic in Python (MySQL)

SQL Magic commands in Python allow you to execute SQL queries directly within Jupyter notebooks. These commands are part of the `ipython-sql` library, enabling seamless interaction between Python and databases.

## Key Concepts

### Line Magic (`%`):
- Executes a single line of SQL.
- Prefixed with `%`.
- **Example**:
```python
  %sql SELECT * FROM table_name
ione

  
### Line Magic (`%%`):
- Executes multi-line SQL queries.
- Prefixed with `%%`.
- **Example**:
```python
    %%sql
    SELECT * 
    FROM table_name
    WHERE condition

### Setup for SQL Magic with MySQL

#### 1. Install Required Libraries

In [1]:
pip install ipython-sql pymysql

Requirement already satisfied: ipython-sql in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: pymysql in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (1.1.2)
Requirement already satisfied: prettytable in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (3.16.0)
Requirement already satisfied: ipython in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (9.6.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: greenlet>=1 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: colorama in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from prompt_toolkit<3.1.0,>=3.0.41->ipython->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [2]:
pip install --upgrade ipython-sql prettytable

Requirement already satisfied: ipython-sql in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (3.16.0)
Requirement already satisfied: ipython in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (9.6.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (2.0.44)
Requirement already satisfied: sqlparse in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (0.5.3)
Requirement already satisfied: six in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (1.17.0)
Requirement already satisfied: ipython-genutils in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: wcwidth in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from prettytable) (0.2.14)
Requirement already satisfied: greenlet>=1 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.15.0)
Requirement already satisfied: colorama in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (0.2.1)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install jupysql

Collecting jupysql
  Downloading jupysql-0.11.1-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: prettytable>=3.12.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from jupysql) (3.16.0)
Requirement already satisfied: sqlalchemy in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from jupysql) (2.0.44)
Requirement already satisfied: sqlparse in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from jupysql) (0.5.3)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from jupysql) (0.2.0)
Collecting jinja2 (from jupysql)
  Downloading jinja2-3.1.6-py3-none-any.whl.metadata (2.9 kB)
Collecting sqlglot>=11.3.7 (from jupysql)
  Downloading sqlglot-27.28.1-py3-none-any.whl.metadata (20 kB)
Collecting jupysql-plugin>=0.4.2 (from jupysql)
  Downloading jupysql_plugin-0.4.5-py3-none-any.whl.metadata (7.8 kB)
Collecting ploomber-core>=0.2.7 (from jupysql)
  Downloading ploomber_core-0.2.27-py3-none-any.whl.metadata (532 bytes)
Collecting pyyaml (from ploomber-core>=0.2.7->jupysql)
  Downloading pyyaml-6.0.3-cp313-cp313-win_amd64.whl.metadata (2.4 kB)
Collecting posthog>=3.0 (from ploomber-core>=0.2.7->jupysql)
  Downloading posthog-6.7.11-py3-none-any.whl.metadata (6.0 kB)
Collecting requests<3.0,>=2.7 (from posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Using cached requests-2.32.5-py3-none-any.whl.metadata (4.9 kB)
Requirement already satisfied: six>=1.5 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (1.17.0)
Requirement already satisfied: python-dateutil>=2.2 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (2.9.0.post0)
Collecting backoff>=1.10.0 (from posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Downloading backoff-2.2.1-py3-none-any.whl.metadata (14 kB)
Collecting distro>=1.5.0 (from posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Downloading distro-1.9.0-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from posthog>=3.0->ploomber-core>=0.2.7->jupysql) (4.15.0)
Collecting charset_normalizer<4,>=2 (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Using cached charset_normalizer-3.4.4-cp313-cp313-win_amd64.whl.metadata (38 kB)
Collecting idna<4,>=2.5 (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Using cached idna-3.11-py3-none-any.whl.metadata (8.4 kB)
Collecting urllib3<3,>=1.21.1 (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Using cached urllib3-2.5.0-py3-none-any.whl.metadata (6.5 kB)
Collecting certifi>=2017.4.17 (from requests<3.0,>=2.7->posthog>=3.0->ploomber-core>=0.2.7->jupysql)
  Using cached certifi-2025.10.5-py3-none-any.whl.metadata (2.5 kB)
Requirement already satisfied: wcwidth in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from prettytable>=3.12.0->jupysql) (0.2.14)
Collecting MarkupSafe>=2.0 (from jinja2->jupysql)
  Downloading markupsafe-3.0.3-cp313-cp313-win_amd64.whl.metadata (2.8 kB)
Requirement already satisfied: greenlet>=1 in c:\users\hp\downloads\eng baraa\db\bikestore-db\.venv\lib\site-packages (from sqlalchemy->jupysql) (3.2.4)
Downloading jupysql-0.11.1-py3-none-any.whl (95 kB)
Downloading jupysql_plugin-0.4.5-py3-none-any.whl (192 kB)
Downloading ploomber_core-0.2.27-py3-none-any.whl (22 kB)
Downloading posthog-6.7.11-py3-none-any.whl (138 kB)
Using cached requests-2.32.5-py3-none-any.whl (64 kB)
Using cached charset_normalizer-3.4.4-cp313-cp313-win_amd64.whl (107 kB)
Using cached idna-3.11-py3-none-any.whl (71 kB)
Using cached urllib3-2.5.0-py3-none-any.whl (129 kB)
Downloading backoff-2.2.1-py3-none-any.whl (15 kB)
Using cached certifi-2025.10.5-py3-none-any.whl (163 kB)
Downloading distro-1.9.0-py3-none-any.whl (20 kB)
Downloading sqlglot-27.28.1-py3-none-any.whl (524 kB)
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ---------------------------------------- 0.0/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ------------------- -------------------- 262.1/524.3 kB ? eta -:--:--
   ---------------------------------------- 524.3/524.3 kB 146.4 kB/s  0:00:04
Downloading jinja2-3.1.6-py3-none-any.whl (134 kB)
Downloading markupsafe-3.0.3-cp313-cp313-win_amd64.whl (15 kB)
Downloading pyyaml-6.0.3-cp313-cp313-win_amd64.whl (154 kB)
Installing collected packages: urllib3, sqlglot, pyyaml, MarkupSafe, idna, distro, charset_normalizer, certifi, backoff, requests, jinja2, posthog, ploomber-core, jupysql-plugin, jupysql

   ----------------------------------------  0/15 [urllib3]
   -- -------------------------------------  1/15 [sqlglot]
   -- -------------------------------------  1/15 [sqlglot]
   -- -------------------------------------  1/15 [sqlglot]
   -- -------------------------------------  1/15 [sqlglot]
   -- -------------------------------------  1/15 [sqlglot]
   -- -------------------------------------  1/15 [sqlglot]
   -- -------------------------------------  1/15 [sqlglot]
   -- -------------------------------------  1/15 [sqlglot]
   ----- ----------------------------------  2/15 [pyyaml]
   ---------- -----------------------------  4/15 [idna]
   ---------- -----------------------------  4/15 [idna]
   ---------------- -----------------------  6/15 [charset_normalizer]
   ------------------ ---------------------  7/15 [certifi]
   ------------------------ ---------------  9/15 [requests]
   ------------------------ ---------------  9/15 [requests]
   -------------------------- ------------- 10/15 [jinja2]
   -------------------------- ------------- 10/15 [jinja2]
   ----------------------------- ---------- 11/15 [posthog]
   ----------------------------- ---------- 11/15 [posthog]
   ----------------------------- ---------- 11/15 [posthog]
   -------------------------------- ------- 12/15 [ploomber-core]
   ---------------------------------- ----- 13/15 [jupysql-plugin]
   ------------------------------------- -- 14/15 [jupysql]
   ------------------------------------- -- 14/15 [jupysql]
   ------------------------------------- -- 14/15 [jupysql]
   ---------------------------------------- 15/15 [jupysql]

Successfully installed MarkupSafe-3.0.3 backoff-2.2.1 certifi-2025.10.5 charset_normalizer-3.4.4 distro-1.9.0 idna-3.11 jinja2-3.1.6 jupysql-0.11.1 jupysql-plugin-0.4.5 ploomber-core-0.2.27 posthog-6.7.11 pyyaml-6.0.3 requests-2.32.5 sqlglot-27.28.1 urllib3-2.5.0
Note: you may need to restart the kernel to use updated packages.

#### 2. Load SQL Magic

In [4]:
%load_ext sql

#### 3. Set Up the Database Connection

In [5]:
%sql mysql+pymysql://root:@localhost/projectstracker
# Example query

Connecting to 'mysql+pymysql://root:***@localhost/projectstracker'

#### 4.Using SQL Magic

In [6]:
%sql SELECT * FROM employees Limit 5

Running query in 'mysql+pymysql://root:***@localhost/projectstracker'

5 rows affected.

+------------+-----------+--------------+---------------------------+-------------+------------+--------------+-----------+-----------------------+---------+---------------------+---------------------+
| EmployeeID | FirstName |   LastName   |           Email           |    Phone    |  HireDate  | DepartmentID | ManagerID |        JobTitle       |  Salary |      CreatedAt      |      UpdatedAt      |
+------------+-----------+--------------+---------------------------+-------------+------------+--------------+-----------+-----------------------+---------+---------------------+---------------------+
|     1      |   Baraa   | Abu Salllout |   baraasallout@gmail.com  | 01123970285 | 2021-04-08 |     None     |     1     | Technical Team Leader | 5500.00 | 2025-08-18 14:59:39 | 2025-08-18 15:08:46 |
|     2      |    Sara   |    Khaled    |  sara.khaled@example.com  | 01098765432 | 2022-12-01 |      2       |     2     |     HR Specialist     | 5000.00 | 2025-08-18 14:59:39 | 2025-08-18 14:59:39 |
|     3      |  Mohamed  |    Nabil     | mohamed.nabil@example.com | 01222244455 | 2021-06-15 |      25      |     1     |   Software Engineer   | 5000.00 | 2025-08-18 14:59:39 | 2025-08-18 15:08:46 |
|     4      |   Laila   |   Hussein    | laila.hussein@example.com | 01145678901 | 2023-03-20 |      3       |     3     |  Marketing Specialist | 5000.00 | 2025-08-18 14:59:39 | 2025-08-18 14:59:39 |
|     5      |    Omar   |    Yousef    |  omar.yousef@example.com  | 01011122334 | 2022-09-10 |      10      |     10    |  Sales Representative | 5000.00 | 2025-08-18 14:59:39 | 2025-08-18 15:08:46 |
+------------+-----------+--------------+---------------------------+-------------+------------+--------------+-----------+-----------------------+---------+---------------------+---------------------+

In [7]:
result = %sql SELECT * FROM employees Limit 5

Running query in 'mysql+pymysql://root:***@localhost/projectstracker'

5 rows affected.

In [8]:
df = result.DataFrame()
df

,EmployeeID,FirstName,LastName,Email,Phone,HireDate,DepartmentID,ManagerID,JobTitle,Salary,CreatedAt,UpdatedAt
0,1,Baraa,Abu Salllout,baraasallout@gmail.com,01123970285,2021-04-08,NaN,1,Technical Team Leader,5500.00,2025-08-18 14:59:39,2025-08-18 15:08:46
1,2,Sara,Khaled,sara.khaled@example.com,01098765432,2022-12-01,2.0,2,HR Specialist,5000.00,2025-08-18 14:59:39,2025-08-18 14:59:39
2,3,Mohamed,Nabil,mohamed.nabil@example.com,01222244455,2021-06-15,25.0,1,Software Engineer,5000.00,2025-08-18 14:59:39,2025-08-18 15:08:46
3,4,Laila,Hussein,laila.hussein@example.com,01145678901,2023-03-20,3.0,3,Marketing Specialist,5000.00,2025-08-18 14:59:39,2025-08-18 14:59:39
4,5,Omar,Yousef,omar.yousef@example.com,01011122334,2022-09-10,10.0,10,Sales Representative,5000.00,2025-08-18 14:59:39,2025-08-18 15:08:46

In [9]:
df["FirstName"][0]

'Baraa'