In [ ]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('../Data/surgery_recovery_predection.csv')
df.shape

(10000, 9)

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Age                       10000 non-null  int64
 1   Gender                    10000 non-null  object
 2   BMI                       10000 non-null  float64
 3   Smoking_Status            10000 non-null  object
 4   Surgery_Type              10000 non-null  object
 5   Surgery_Duration_Minutes  10000 non-null  float64
 6   Pre_existing_Conditions   5986 non-null   object
 7   Post_Op_Complications     2986 non-null   object
 8   Recovery_Duration_Days    10000 non-null  float64
dtypes: float64(3), int64(1), object(5)
memory usage: 703.3+ KB

In [6]:
df.describe(include='all')

,Age,Gender,BMI,Smoking_Status,Surgery_Type,Surgery_Duration_Minutes,Pre_existing_Conditions,Post_Op_Complications,Recovery_Duration_Days
count,10000.000000,10000,10000.000000,10000,10000,10000.000000,5986,2986,10000.000000
unique,NaN,3,NaN,3,5,NaN,3,2,NaN
top,NaN,Male,NaN,Never,ENT,NaN,Diabetes,Minor,NaN
freq,NaN,4827,NaN,6077,2030,NaN,2481,1990,NaN
mean,53.539700,NaN,25.020830,NaN,NaN,120.259100,NaN,NaN,17.901930
std,20.757324,NaN,3.945085,NaN,NaN,30.100933,NaN,NaN,5.876948
min,18.000000,NaN,11.000000,NaN,NaN,5.000000,NaN,NaN,2.700000
25%,36.000000,NaN,22.300000,NaN,NaN,100.000000,NaN,NaN,13.200000
50%,53.000000,NaN,25.000000,NaN,NaN,120.000000,NaN,NaN,18.300000
75%,72.000000,NaN,27.700000,NaN,NaN,141.000000,NaN,NaN,22.300000
max,89.000000,NaN,40.800000,NaN,NaN,224.000000,NaN,NaN,37.400000

In [7]:
df.head()

,Age,Gender,BMI,Smoking_Status,Surgery_Type,Surgery_Duration_Minutes,Pre_existing_Conditions,Post_Op_Complications,Recovery_Duration_Days
0,69,Female,32.5,Current,Orthopedic,167.0,Both,NaN,21.9
1,32,Male,30.7,Never,Cardiac,98.0,Hypertension,NaN,20.4
2,89,Male,16.3,Never,Neuro,65.0,NaN,NaN,23.0
3,78,Female,29.6,Former,General,148.0,NaN,NaN,14.6
4,38,Female,27.3,Former,Neuro,132.0,NaN,NaN,20.0

In [8]:
df.tail()

,Age,Gender,BMI,Smoking_Status,Surgery_Type,Surgery_Duration_Minutes,Pre_existing_Conditions,Post_Op_Complications,Recovery_Duration_Days
9995,88,Male,22.1,Never,Cardiac,110.0,Hypertension,NaN,21.9
9996,43,Male,29.4,Never,ENT,139.0,Diabetes,NaN,12.4
9997,63,Other,26.6,Never,Neuro,102.0,Diabetes,NaN,22.9
9998,63,Female,26.4,Former,ENT,54.0,Both,NaN,9.8
9999,31,Male,25.0,Current,ENT,131.0,Hypertension,Minor,14.6

In [9]:
df.isna().sum()

Age                            0
Gender                         0
BMI                            0
Smoking_Status                 0
Surgery_Type                   0
Surgery_Duration_Minutes       0
Pre_existing_Conditions     4014
Post_Op_Complications       7014
Recovery_Duration_Days         0
dtype: int64

In [10]:
for col in df.select_dtypes(include=['object']).columns:
  print(f"Value counts for column '{col}':")
  print(df[col].value_counts())
  print("\n")

Value counts for column 'Gender':
Gender
Male      4827
Female    4790
Other      383
Name: count, dtype: int64


Value counts for column 'Smoking_Status':
Smoking_Status
Never      6077
Former     2427
Current    1496
Name: count, dtype: int64


Value counts for column 'Surgery_Type':
Surgery_Type
ENT           2030
Cardiac       2009
General       2002
Neuro         1988
Orthopedic    1971
Name: count, dtype: int64


Value counts for column 'Pre_existing_Conditions':
Pre_existing_Conditions
Diabetes        2481
Hypertension    2444
Both            1061
Name: count, dtype: int64


Value counts for column 'Post_Op_Complications':
Post_Op_Complications
Minor    1990
Major     996
Name: count, dtype: int64